body{
    background-image: url("omg.jpg");  
    background-attachment: fixed;
    background-repeat: repeat-x;
    overflow-y: scroll;
}

input{
    background-color: blanchedalmond;
}

#top-bar{
    background-image: url("omg.jpg");
    background-attachment: fixed;
    text-align: center;
    background-size: cover;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
}

h1{
    mix-blend-mode: screen;
    background-color: burlywood;
    font-size: 4.5em;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgba(222, 184, 135, 0.822);
    border-radius: 6px;
    padding: 7px;
    font-size: small;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  @media screen and (min-width:500px) {
      #top-bar h1{
          padding: 30px;
      }
  }

  @media screen and (max-width: 575px) {
      body{
          overflow-y: scroll;
          background-attachment: fixed;
          background-repeat: repeat;
      }
  }